{% extends 'base.html.twig' %}

{% block title %}Diagnostic{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row my-3">
            <div class="col-md-5 my-3">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="{{ asset(diag.image) }}" alt="Card image">
                    <div class="card-img-overlay"></div>
                </div>
            </div>
            <div class="col-md-7 my-3">
                <h3>{{ diag.diagnoseType }}</h3>
                <table class="table table-responsive-lg mt-4">
                    <thead>
                    <tr>
                        <th scope="col">Patient</th>
                        <th scope="col" colspan="2">{{ diag.patientName }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">Age</td>
                        <td>{{ diag.patientAge }}</td>
                        <td colspan="2" rowspan="4" class="text-left" style="border-left: solid 1px #dee2e6;">
                            <u>Observations :</u><br>
                            {{ diag.observations }}
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Praticien</td>
                        <td>{{ diag.dentistName }}</td>
                    </tr>
                    <tr>
                        <td scope="row">Date</td>
                        <td>{{ diag.date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <a href="#" class="btn btn-outline-info">Modifier le diagnostic</a>
                <a href="{{ path('diag_delete', { 'id': diag.id }) }}" class="btn btn-outline-danger">Supprimer le diagnostic</a>
            </div>
        </div>
    </div>
{% endblock %}
